asttokens
certifi
charset-normalizer
contourpy
cycler
decorator
executing
fonttools
geopandas
idna
iniconfig
ipython
ipython_pygments_lexers
jedi
joblib
kiwisolver
matplotlib
matplotlib-inline
narwhals
networkx
numpy
osmnx
packaging
pandas
parso
pexpect
pillow
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyogrio
pyparsing
pyproj
pytest
python-dateutil
requests
scikit-learn
scipy
shapely
six
stack-data
threadpoolctl
traitlets
urllib3
wcwidth
folium
